@*class @Html.ActiveClass("Home", "Index") returns "active" or "" to display active page link*@

<nav class="nav-masthead navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My Chess Project</a>
      
        <div class="justify-content-center float-md-end">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item ">
                    <a class="nav-link @Html.ActiveClass("Home", "Index")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link @Html.ActiveClass("Home", "Privacy")" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

