@model ChessWebApp.Square

@{
    var squareColor = Model.SquareColor == SquareColor.Light ? Global.WhiteSquareColor : Global.BlackSquareColor;
    if (Model.IsValid)
        squareColor = Global.GreenSquareColor;
    if (Model.CurrentPiece is King king && king.IsUnderCheck)
        squareColor = Global.RedSquareColor;
}

<button class="square-button" type="submit" name="location" value="@Model.Location.File@Model.Location.Rank"
        asp-controller="Home" asp-action="HandleButtonClick"
        style="background: @squareColor">
    @if (Model.IsOccupied)
    {
        var piece = Model.CurrentPiece;

        string pieceColor = piece.PieceColor == PieceColor.Light ? "white" : "black";
        string pieceClass = piece.GetType().Name;
        string fileType = ".png";

        <img width="40" src="~/img/pieceImgs/@pieceColor@pieceClass@fileType" />
    }
</button>

