@model ChessWebApp.Square

@{
    var whiteSquareColor = "#eee";
    var blackSquareColor = "#aaa";
    var greenSquareColor = "#5c9c6f";
    var redSquareColor = "#9c5c5f";

    var squareColor = Model.SquareColor == SquareColor.Light ? whiteSquareColor : blackSquareColor;
    if (Model.IsValid)
        squareColor = greenSquareColor;
    if (Model.CurrentPiece is King king && king.IsUnderCheck)
        squareColor = redSquareColor;
}

<button class="square-button" type="submit" name="location" value="@Model.Location.File@Model.Location.Rank"
        asp-controller="Home" asp-action="HandleButtonClick"
        style="background: @squareColor">
    @if (Model.IsOccupied)
    {
        var piece = Model.CurrentPiece;

        string pieceColor = piece.PieceColor == PieceColor.Light ? "white" : "black";
        string pieceClass = piece.GetType().Name;
        string fileType = ".png";

        <img width="40" src="~/img/pieceImgs/@pieceColor@pieceClass@fileType" />
    }
</button>

